.global {
	margin: 0px auto;
}
.countChange {
	display: inline;
}

.productList{
	visibility: visible;
}

.standartListUL {
	margin: 0;
	padding: 0;
	-webkit-padding-start: 0;
}

.standartList {
	list-style-type: none;
	display: inline;
}

.columnMenu{
	width: 45%;
	list-style-type: none;
	display: inline-block;
}

.resultListLI{
	margin: 20px 20px 20px 20px;
	list-style-type: none;
	display: inline-block;
}

.ProductItemLI{
	text-align: center;
	list-style-type: none;	
}

